<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Student Form</title>

    <link rel="stylesheet" href="/static/style2.css">

</head>
<body>

    <section class="landing">

        <div class="heading">
            <h1>Web Development</h1>
        </div>

        <div class="sign-in">

            <form>
                <label for="fname">First name:</label><br>
                <input type="text" id="fname" name="fname"><br>
                <label for="lname">Last name:</label><br>
                <input type="text" id="lname" name="lname"><br>
            </form><br>
        
            <button id="submit-btn" class="float-left submit-button" >Sign In</button>
        
            <script src="/static/main.js"></script>
    
        </div>

    </section>
    

</body>
</html>